{% extends "get_data/base.html" %}





{% load staticfiles %}

{% block content %}
<div class="container">
  <h1>Your Portfolio Optimized Vs. Non Optimized </h1>
  <hr>
  <h5>Sharpe Ratio: {{sharpe_ratio}}</h5>
  {# <img src="{% static 'data.png' %}" alt=""class="img-fluid" alt="Responsive image"> #}


</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
        {{portfolio_plot|safe}}
      </div>

    </div>
    <div class="col-md-4">
      <div class="container-fluid">
        {{bullet|safe}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <form class="" action="{% url 'regression:simple_regression' %}" method="post">
        <div class="form-group">
          {% csrf_token %}
          <label for="exampleFormControlSelect1">Would you like to run a regression on your portfolio?</label>
          <select class="form-control" id="exampleFormControlSelect1" name='port_regression'>
            <option value="run">Yes</option>
            <option value='do_not_run'>No</option>


          </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Run Regression">
        <br>

      </form>

    </div>


  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
        {{table|safe}}

      </div>

    </div>
    <div class="col-md-4">
      <div class="container-fluid">
        {{weights_table|safe}}

      </div>

    </div>

  </div>
</div>
{% endblock content %}
