{% extends "get_data/base.html" %}





{% load staticfiles %}

{% block content %}
<div class="container">
  <h1>Your Portfolio Optimized Vs. Non Optimized </h1>
  <hr>
  <h5>Sharpe Ratio: {{sharpe_ratio}}</h5>
  {# <img src="{% static 'data.png' %}" alt=""class="img-fluid" alt="Responsive image"> #}


</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
        {{portfolio_plot|safe}}
      </div>

    </div>
    <div class="col-md-4">
      <div class="container-fluid">
        {{bullet|safe}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
        {{table|safe}}

      </div>

    </div>
    <div class="col-md-4">
      <div class="container-fluid">
        {{weights_table|safe}}

      </div>

    </div>

  </div>
</div>
{% endblock content %}
