{% extends "get_data/base.html" %}
{% load staticfiles %}
{% block content %}


      <!-- Main jumbotron for a primary marketing message or call to action -->


      <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Welcome to QuantCore</h1>

            {% if user.is_authenticated %}
            <p>This is a data analytics/statistical analysis platform built for anyone who wants to see data from various different perspectives.
               You will be able to create correlation matrices,plot heat maps, develop trading strategies, and use regressions for market predictions.
               <br>
               <br>
               If you are unfamiliar with or have any questions about the platform, please reference the about pages, starting with the  <a href="{% url 'about:how_to_use' %}">User Guide</a>. If you still want to know more, shoot me an email.
               The website is built in python, and it is aimed at providing an easy to use interface without sacrificing its Quant Core.
            </p>
            <hr>
            <hr>
            <p><a class="btn btn-primary btn-lg" href="mailto:sking8484@gmail.com" role="button">Email &raquo;</a></p>

            {% else %}

            <p>This is a data analytics/statistical analysis platform built for anyone who wants to see data from various different perspectives.
               You will be able to create correlation matrices,plot heat maps, develop trading strategies, and use regressions for market predictions.
               <br>
               <br>
               If you are unfamiliar with or have any questions about the platform, please reference the about pages, starting with the  <a href="{% url 'about:how_to_use' %}">User Guide</a>. If you still want to know more, shoot me an email.
               The website is built in python, and it is aimed at providing an easy to use interface without sacrificing its Quant Core.
            </p>
            <hr>
            <hr>

            {% endif %}


          </div>
        </div>







        <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for post in posts.all %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{post.image.url}}" alt="">
                <div class="card-body">
                  <h3 class="card-text">{{post.title}}</h3>
                  <hr>
                  <p class="card-text">{{post.summary}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'user_posts:post_detail' post.pk %}"><button type="button" class="btn btn-primary">View</button></a>
                    </div>
                    <small class="text-muted">{{post.pub_date_pretty}}</small>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
      </main>










{% endblock content %}
