
{% extends "get_data/base.html" %}

{% block content %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Regression Page</title>
</head>
<body>
  <div class="container">
    <h1>Regression Analysis</h1>
    <h3>Fill in the following fields</h3>
    <h6>If you would like to grab real estate data, please go <a href="https://www.quandl.com/data/ZILLOW-Zillow-Real-Estate-Research">Here</a> </h6>
    <h6>If you would like to grab macro economic data, please go <a href="https://www.quandl.com/data/YALE-Yale-Department-of-Economics?keyword=">Here</a> </h6>

    {{ error }}
    {{ error_message }}
    <form class="" action="{% url 'regression:simple_regression' %}" method="post">
      <div class="form-group">


        {% csrf_token %}
        <br>
        <label for="StartDate">Start Date:</label>
        <input type="date" class="form-control" id="StartDate" name="start" value="">

        <label for="EndDate">End Date:</label>
        <input type="date" class="form-control" id="EndDate" name="end" value="">
        <br>

        <label for="data1">Dependent Variable:</label>
        <input type="text" id="data1" class="form-control"name="symbol1" placeholder="Please add a ticker">



        <div class="form-group">
          <label for="exampleFormControlSelect1">Data Type 1:</label>
          <select class="form-control" id="exampleFormControlSelect1" name='datatype1'>
            <option value="stock_data">Stock Data</option>
            <option value='real_estate'>Real Estate</option>
            <option value="economic">Economic Data</option>

          </select>
        </div>

        <br>
        <label for="data2">Independent Variable:</label>
        <input type="text" id="data2" class="form-control"name="symbol2" placeholder="Please add a ticker">



        <div class="form-group">
          <label for="exampleFormControlSelect1">Data Type 2:</label>
          <select class="form-control" id="exampleFormControlSelect1" name='datatype2'>
            <option value="stock_data">Stock Data</option>
            <option value='real_estate'>Real Estate</option>
            <option value="economic">Economic Data</option>

          </select>
        </div>


        <br>



        <input type="submit" class="btn btn-primary" value="Get Data">
      </div>
    </div>

  </form>

</body>
</html>
{% endblock content %}
